@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Zilla+Slab:wght@300;700&display=swap');


body {
  font-size: medium;
}

h2 {
  font-family: "protest-strike-regular", sans-serif ;
}

.makeMeBlue {
  background-color: rgb(18, 18, 54);
  color: white;
}

.ui.menu {
  background: transparent;
}

h2.namePlate {
  margin-top: 25px;
  margin-bottom: 0px;
  font-size: 35px;
}

h2.titlePlate {
  margin-top: 1px;
  font-size: 20px;
}